# Wordpress
wordpress/*
!wordpress/wp-config.php
!wordpress/.keep
!wordpress/.htaccess
!wordpress/robots.txt

# Wordpress Content
!wordpress/wp-content/*
wordpress/wp-content/backup/*
wordpress/wp-content/cache/*
wordpress/wp-content/upgrade/*

# Database
/data/db/*
!/data/db/.keep
